*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
.header {
	background-image: url("home3.jpg");
	max-width: 100%;
	height: 100vh;
	
	background-repeat: no-repeat;
	background-position: center;
}

nav {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
    background-color: #c12529;
    background-color: #082d3c;

    
  }

 .logo {
 	letter-spacing: 3px;
 	font-size: 40px;
 	float: left;
 	padding: 20px 20px;
 	color: white;
 }

.logo span{
 	color: white;
 }
 .menu a {
 	color: white;
 	padding: 10px;
 	font-size: 20px;
 	font-weight: bold;
 	margin: 2px;
 }
 .menu {
 	margin-right: 20px;
 }
 

 .menu a:hover{
 	background: #115d73;
 	transition: .5s;
 }

.text {
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
	margin-left: 100px;
	max-width: 1000px;
	margin-bottom: 100px;
}

.text h1 {
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.text h2 {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.text h3 {
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text p {
	font-size: 50px;
	color: black;
	padding-top: 5px ;
}

.LinkedIn {
	color: white;
	box-shadow: 2px 2px;
	border: none;
	outline: none;
	background: black;
	padding: 10px;
	margin-top: 20px;
	font-family: "Times New Roman";
}

#about {
	padding: 100px 50px;
}

.section-info {
	font-size: 30px;
	font-weight:bold;
	text-align:center;
	color:#2b2d42; 
}

.section-info h1 {
	padding-top: 40px;
}
section {
	background-color:#64b3a5; 
	

}

.about-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.about-left-col {
	flex-basis: 50%;
}

.about-left-col img {
	width: 80%;
	padding: 50px;

}
.about-right-col{
	color: white;
	flex-basis: 50%;
}

.about-right-col p {
	color: black;
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.para-head {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 10px;
	color: black;
}
.para {
	text-align: justify;
	font-size: 25px;
}
.project {
	background-color: #0c4153;
}
 
.skills {
	color: white;
	padding: 150px 50px;
	background: url("skillsbg.jpg");
	
	background-repeat: no-repeat;
	background-position: center;

	width: 100%;
	height:100vh;
}

.section-in {
	font-size: 30px;
	font-weight:bold;
	text-align:center;
	color: white; 
}
progress {
	width: 80%;  
}

.progress-div {
	width: 50%;
	margin: auto;
	align-items: center;
	margin-top: 10px;
	
}
.progress-div p{
	font-size: 20px;
	color: white;
	margin-top: 10px;
	margin-left:10px;
}
.contents-item {
	width: 100%;
	height: 200px;
}
.contact-form {
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
}
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
#last {
	background-image: url("contacts1.jpg");
	width: 100%;
	height:100vh;
	
	background-repeat: no-repeat;
	background-position: center;
}
.footer {
  background-color: #082d3c;
  color: #fff;
  width: 100%;
	height: 70px;
  padding: 40px;
}

.footer-logo {
  float: right;
  font-size: 20px;
  text-align: center;
}
